:root {
    --primary-color: #6eb8f5;
    --accent-color: #847878;
    --bg-color: #e9e6e6;
    --text-color: #4d4b4b;
    --card-bg-color: #9fd5d4;
    --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

h1, h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.data-card{
    background-color: var(--card-bg-color);
    padding: 1.5rem;
    border-radius: 8px;
    border-top: 5px solid var(--accent-color);
    float: left;
    display: block;
}

.weather-card{
    background-color: var(--card-bg-color);
    padding: 1.5rem;
    border-radius: 8px;
    border-top: 5px solid var(--accent-color);
    float: right;
    display: block;
}

ul {
    list-style: none;
}

ul li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 0.5rem;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1.5rem;;
}



