@media (min-width: 768px) {
    #hamburger-btn {
        display: none;
    }
}

nav ul {
    display: flex;
    width: auto;
    flex-direction: row;
    background-color: transparent;
}

nav a {
    padding: 0.5rem 1rem;
    border-bottom: none;
}

.gallery-grid {
    grid-template-columns: repeat(3, 1fr);
}

